# Final Project Notebook

## Introduction
This notebook is created as part of the final project for the course.Python coding, and data science concepts and also I learned here How to use markdown how to work in juoiter notebook

## Data Science Languages
- Python
- R
- Julia
- SQL

## Exercise 5:- Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

## Exercise 6:- Data Science Tools

| Tool            | Description        |
|----------------|-----------------------|
| Jupyter Notebook | Interactive coding environment |
| RStudio         | IDE for R programming       |
| Apache Spark    | Big data processing         |
| Tableau        | Data visualization          |

## Exercise 7:- Arithmetic Expression Examples 
Below are some examples of arithmetic expressions in Python.

In [1]:
## Multiply and Add Numbers
a = 5
b = 3
result_mult = a * b
result_add = a + b
print("Multiplication:", result_mult)
print("Addition:", result_add)

Multiplication: 15
Addition: 8

In [3]:
# Exercise 9:-Convert Minutes to Hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

## Objectives
- List popular languages used in data science.
- Identify commonly used libraries.
- Demonstrate arithmetic operations.
- Convert time units using Python.
- Use Markdown to format text.

## Author
**Vaibhav Salokhe**